{% extends 'site.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product list</h1>
    {% if app.user %}
        <a href="{{ path('product_new') }}">Create new</a>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th style="width: 1vh">Id</th>
                <th style="width: 1vh">Name</th>
                <th style="width: 1vh">Description</th>
                <th style="width: 1vh">Price</th>
                <th style="width: 1vh">Currency</th>
                <th style="width: 1vh">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.currency }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    {% if app.user %}
                        <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3" style="text-align: left">
                {% if previous is not null %}
                    <a href="{{ path('index', {'page': previous}) }}">previous</a>
                {% endif %}
            </td>
            <td colspan="3" style="text-align: right">
                {% if next is not null %}
                   <a href="{{ path('index', {'page': next}) }}">next</a>
                {% endif %}
            </td>
        </tr>
        </tfoot>
    </table>
{% endblock %}
